footer .contact-final-notes-wrapper {
  margin-top: -138px;
  position: relative;
}

.contact-final-notes {
  background: transparent
    linear-gradient(98deg, var(--unnamed-color-f79901) 0%, #2b7da0 100%) 0% 0%
    no-repeat padding-box;
  background: transparent linear-gradient(98deg, #f79901 0%, #2b7da0 100%) 0% 0%
    no-repeat padding-box;
}
