:root {
  --animation-style: cubic-bezier(0.56, 0.51, 0.85, 0.84);
  --buton-text-transition-delay: 400ms;
}

.hb-btn {
  position: relative;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  &-text {
    display: block;
    transition: all var(--animation-style) var(--buton-text-transition-delay);
    transform: translate(0%);
  }

  &:after {
    content: attr(data-content);
    position: absolute;
    transform: translate(-100%, -50%);
    transition: all var(--animation-style) 320ms;
    left: 0;
    right: 0;
    z-index: -1;
    top: 50%;
    bottom: 0;
    opacity: 0;
  }

  &:hover {
    &:after {
      content: attr(data-content);
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      top: 50%;
      bottom: 0;
      transform: translate(0%, -50%);
      transition: all var(--animation-style) 450ms;
      opacity: 1;
    }

    .hb-btn-text {
      transform: translate(130%);
      transition: all var(--animation-style) var(--buton-text-transition-delay);
      opacity: 0;
    }
  }
}


.product-card {
  .hb-btn {
    &::after {
      bottom: -8px;
    }
  }
}