#navbar-main {
  > .fullwidth {
    max-width: 100%;
  }
}
.hb-logo {
  // background-image: url("./../.../../../../../assets/img/brand/logo_orange.svg");
  // background-repeat: no-repeat;
  // background-size: 112%;
  // background-position: left;
}
.navbar-main {
  background-color: #172b4d !important;
  .input-group {
    .btn-primary {
      padding: 0;
      .fa-search {
        font-size: 25px;
        padding-left: 10px;
        padding-right: 5px;
      }
    }
  }
  form {
    max-width: 600px;
    margin-left: 20px;
    flex-grow: 2;
    @media (max-width: 500px) {
      padding-left: 0;
    }
  }
}

.pt-88 {
  padding-top: 88px;
  @media (max-width: 992px) {
    padding-top: 75px;
  }
}

.mt-88 {
  margin-top: 88px;
  @media (max-width: 992px) {
    margin-top: 75px;
  }
}

.navbar .container,
.navbar .container-fluid,
.navbar .container-sm,
.navbar .container-md,
.navbar .container-lg,
.navbar .container-xl {
  @media (max-width: 992px) {
    flex-wrap: nowrap;
  }
}
.dropdown-menu .dropdown-item {
  color: rgba(0, 0, 0, 0.5) !important;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    color: rgba(0, 0, 0, 0.5) !important;
  }
}

.haschem-navbar {
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1), 4px 4px 8px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #374151;
  @media (max-width: 768px) {
    border-radius: 0;
  }
}

.text-orange {
  color: #f79903;
}
.hover\:text-orange {
  &:hover {
    @media (hover: hover) {
      // color: var(--color-blue-600);
      color: #f79903;
    }
  }
}
.hb-dropdown {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 210px;
  overflow-y: auto;
  overflow-x: hidden;
  &.small {
    height: 175px;
  }
  overflow-y: auto;
  a:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.nav-items a {
  &::after {
    width: 0;
    transition: width 1s linear;
  }
  &.nav-active {
    position: relative;
    &::after {
      width: 100%;
      height: 3px;
      background-color: #f79903;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
.hb-border-primary-focus:focus {
  box-shadow: 0 0 1px 1px inset #2d7da0;
}

// Mobile Menu
#mobile-menu {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.94);
  top: 0;
  z-index: 99999999;
  top: 0;

  .close {
    width: 48px;
    height: 48px;
    position: relative;
    right: 5px;
    &:hover {
      color: red;
    }
  }
  .hb-dropdown {
    width: 100%;
  }
}
@media (min-width: 640px) and (max-width: 900px) {
  .navbar-wrapper {
    display: none;
    a {
      font-size: 0.8rem;
    }
    + div {
      margin-left: 5px;
      position: relative;
      width: 100%;
      right: inherit;
    }
  }
  .toggle-menu {
    display: flex;
  }
  .hb-gbl-search {
    width: 100%;
    form {
      width: 90%;
      .typeaheadSearch {
        width: 88%;
      }
    }
  }
}
@media (max-width: 900px) {
  .hideSocialOnMobile {
    display: none;
  }
}
@media (max-width: 640px) {
  .hb-gbl-search {
    width: 100%;
    form {
      width: 90%;
      .typeaheadSearch {
        width: 88%;
      }
    }
  }
}
@media (max-width: 500px) {
  .hb-gbl-search {
    form {
      width: 90%;
      .typeaheadSearch {
        width: 76%;
      }
    }
  }
}
@media (max-width: 450px) {
  .hb-gbl-search {
    form {
      width: 87%;
      .typeaheadSearch {
        width: 76%;
      }
    }
  }
}
@media (max-width: 400px) {
  .hb-gbl-search {
    form {
      width: 86%;
      .typeaheadSearch {
        width: 64%;
      }
    }
  }
}

@media (max-width: 350px) {
  .hb-gbl-search {
    form {
      width: 83%;
      .typeaheadSearch {
        width: 62%;
      }
    }
  }
}
